@model FluentTest.ViewModels.UserWithNotFriends
@{
    ViewBag.Title = "AddFriend";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h2>AddFriend</h2>

        <div class="form-group">
            @Html.LabelFor(model => model.Developer.ID, "Add Friend:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("NotFriendsSelList", null, htmlAttributes: new { @class = "form-control" })
                 
                @*@Html.DropDownListFor(model=>model.selected_ID,
                new SelectList(Model.Not_Friends),"","friend_id")*@
                @Html.ValidationMessageFor(model => model.Not_Friends,"", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">

                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
}