@model FluentTest.Models.Developer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Developer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           x
        </dt>
        
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
